html body {
	font-family: 'Helvetica', Arial, sans-serif;
	color: #111;
	background-color: #E7E7E7;
}

a {
	color: #0078A0;
}

.content {
	text-align: center;
	padding: 0 15% 20px;
}

.content h1 {
	text-transform: uppercase;
	font-weight: bold;
	margin: 20px;
}

.content form {
	padding: 10px;
	width: 300px;
	margin: 0 auto;
}

.content form input {
	width: 100%;
	border: 2px solid #107394;
	color: #107394;
	background: transparent;
	margin-bottom: 15px;
}

/*Noticed you added changes to the CSS, so I added your changes*/
.content div {
	margin-bottom: 25px;
	padding: 10px;
	width: 100%;
}

.click {
	background: #ADD8E6;
}

.mouse-over {
	background: #CF6E0E;
}

.submit {
	background: #43AC6A;
}

.timeout {
	background: #CCCCCC;
}

/*My CSS*/
button {
	margin: 24px;
	margin-top: 0;
	width: 20%;
}

.display {
	background: #33AA33;
}

.last-value {
	background-color: #BBBB22;
}